@using EntityLayer.Tables
@model List<User>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayaout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">ÜrünListesi</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Mail</th>
                            <th>Şifre</th>
                            <th>Telefon Numarası</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UserId</td>
                                <td>@item.Name</td>
                                <td>@item.SurName</td>
                                <td>@item.Email</td>
                                <td>@item.Password</td>
                                <td>@item.Phone</td>
                                <td><a href="" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="" class="btn btn-outline-success">Düzenle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Product/InsertProduct" class="btn btn-fill btn-primary">Yeni Üye Ekle</a>
            </div>
        </div>
    </div>
</div>


