@using EntityLayer.Tables
@model IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GeneralLayaout.cshtml";
}
@{
    int loopCount = 0;
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="text-homeimage">
                @foreach (var item in Model.homePages)
                {
                    <div class="maintext-image" data-scrollreveal="enter top over 1.5s after 0.1s">
                        @item.HomPageTitle
                    </div>
                    <div class="subtext-image" data-scrollreveal="enter bottom over 1.7s after 0.3s">
                        @item.HomPageSubTitle
                    </div>
                }

            </div>
        </div>
    </div>
</div>
    </header>
<!-- STEPS =============================-->
@foreach (var item in Model.homePages)
{
    <div class="item content">
        <div class="container toparea">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="col editContent">
                        <span class="numberstep"><i class="fa fa-shopping-cart"></i></span>
                        <h3 class="numbertext">@item.LowerLeft</h3>
                        <p>
                            @item.LowerLeftDesc
                        </p>
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-gift"></i></span>
                        <h3 class="numbertext">@item.LowerCenter</h3>
                        <p>
                            @item.LowerCenterDesc
                        </p>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4 editContent">
                    <div class="col">
                        <span class="numberstep"><i class="fa fa-download"></i></span>
                        <h3 class="numbertext">@item.LowerRight</h3>
                        <p>
                            @item.LowerRightDesc
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!-- LATEST ITEMS =============================-->
<section class="item content">
    <div class="container">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">ÇOK SATANLAR</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.products)
            {
                if (loopCount < 3)
                {
                    loopCount++;
                    <div class="col-md-4">
                        <div class="productbox">
                            <div class="fadeshop">
                                <div class="captionshop text-center" style="display: none;">
                                    <h3>@product.Name</h3>
                                    <p>
                                        @product.Description
                                    </p>
                                    <p>
                                        <a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Satın Al</a>
                                        <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> Detay</a>
                                    </p>
                                </div>
                                @if (@product.Name.IndexOf("Netflix", StringComparison.OrdinalIgnoreCase) >= 0)
                                {
                                    <span class="maxproduct"><img src="~/Images/netflix.png" style="width:590px; height:175px" alt=""></span>
                                }
                                @if (@product.Name.IndexOf("Steam", StringComparison.OrdinalIgnoreCase) >= 0)
                                {
                                    <span class="maxproduct"><img src="~/Images/steam.png" style="width:590px; height:175px" alt=""></span>
                                }
                                @if (@product.Name.IndexOf("iTunes", StringComparison.OrdinalIgnoreCase) >= 0)
                                {
                                    <span class="maxproduct"><img src="~/Images/itunes.png" style="width:590px; height:175px" alt=""></span>
                                }
                            </div>
                            <div class="product-details">
                                <a href="#">
                                    <h1>@product.Name</h1>
                                </a>
                                <span class="price">
                                    <span class="edd_price">₺@product.Price</span>
                                </span>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    break;
                }

            }

            <!-- /.productbox -->
            <!-- /.productbox -->

        </div>
    </div>
    </div>
</section>
<!-- BUTTON =============================-->
<div class="item content">
    <div class="container text-center">
        <a href="/SignUp/Index" class="homebrowseitems">
            1 Dakikada Kayıt Ol
            <div class="homebrowseitemsicon">
                <i class="fa fa-star fa-spin"></i>
            </div>
        </a>
    </div>
</div>
<br />
<!-- AREA =============================-->
@foreach (var item3 in Model.homePages)
{
    <div class="item content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-microphone infoareaicon"></i>
                    <div class="infoareawrap">
                        <h1 class="text-center subtitle">@item3.LeftPageBreak</h1>
                        <p>
                            @item3.LeftPageBreakDesc
                        </p>
                        <p class="text-center">
                            <a href="#">- *** -</a>
                        </p>
                    </div>
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4">
                    <i class="fa fa-comments infoareaicon"></i>
                    <div class="infoareawrap">
                        <h1 class="text-center subtitle">@item3.CenterPageBreak</h1>
                        <p>
                            @item3.CenterPageBreakDesc
                        </p>
                        <p class="text-center">
                            <a href="#">- *** -</a>
                        </p>
                    </div>
                </div>
                <!-- /.col-md-4 col -->
                <div class="col-md-4">
                    <i class="fa fa-bullhorn infoareaicon"></i>
                    <div class="infoareawrap">
                        <h1 class="text-center subtitle">@item3.RightPageBreak</h1>
                        <p>
                            @item3.RightPageBreakDesc
                        </p>
                        <p class="text-center">
                            <a href="#">- *** -</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL =============================-->
    <div class="item content">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="slide-text">
                    <div>
                        <h2><span class="uppercase">@item3.PageBreakTitle</span></h2>
                        <img src="~/black-dashboard-master/assets/img/screenshot_1.png" alt="OBG">
                        <p>
                            @item3.PageBreakTitleDesc
                        </p>
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION =============================-->
    <section class="content-block" style="background-color:#00bba7;">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                        <h1 class="callactiontitle">
                            @item3.BottomGreenTitle <span class="callactionbutton"><i class="fa fa-gift"></i> @item3.BottomGreenBox</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@foreach (var media in Model.socialMedias)
{
    <!-- FOOTER =============================-->
    <div class="footer text-center">
        <div class="container">
            <div class="row">
                <p class="footernote">
                    Bizim ile bağlantı kurun
                </p>
                <ul class="social-iconsfooter">
                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                    <li><a href="@media.FacebookUrl" target="_blank" @media.FacebookUrl><i class="fa fa-facebook"></i></a></li>
                    <li><a href="@media.TwitterUrl" target="_blank" @media.TwitterUrl><i class="fa fa-twitter"></i></a></li>
                    <li><a href="@media.YoutubeUrl" target="_blank" @media.YoutubeUrl><i class="fa fa-youtube"></i></a></li>
                    <li><a href="@media.LinkedinUrl" target="_blank" @media.LinkedinUrl><i class="fa fa-pinterest"></i></a></li>
                </ul>
                <p>
                    &copy; @DateTime.Now.Year.ToString() Oğuz Berkit Genç<br />
                    Tüm Hakları Saklıdır <a href="https://www.instagram.com/oguzberkitgenc" target="_blank" https: //www.instagram.com/oguzberkitgenc>Benim İle İletişime Geç</a>
                </p>
            </div>
        </div>
    </div>
}


